<div class="teambinheader">
  <h1>Create Your <span class="logotext1"><strong>TeamBin</strong></span></h1>
</div>
<div class="creatediv col-md-6 col-md-offset-3">
  <div class="input-group">
  <input type="text" class="form-control" placeholder="TeamName" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">.TeamBin.com</span>
</div></div>
