$navbar-inverse-bg: #565656;

body {
  padding-top: 50px;
}

.navbar-inverse {
  background-color: $navbar-inverse-bg;
  position: fixed;
  height: 51px;
}

.navbar-collapse {
  .navbar-nav {
    margin: 0px -15px;
  }
}

.logo {
  height: 100px;
  border: 7px solid #fff;
  border-radius: 15px;
  margin: 10px;
  background-color: #fff;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  img { max-width: 250px;    }
  h2  { margin-bottom: 22px; }
  li  { margin-bottom: 10px; }
}

.tier2 {
  background-color: #456D89;
  min-height:15px;
}

.flash-messages {
  min-height: 50px;
  text-align: center;
}

.simple_form {
  max-width: 450px;
}


.navbar-text {
  margin-left: 15px;

  a { color: #9d9d9d; }

  a:hover {
    color: white;
    text-decoration: none;
  }
}

@import "ui-autocomplete";
@import "bootstrap-sprockets";
@import "bootstrap";

/* Add AFTER the import so we have the mixins available to us. */
section {
  @include make-row();
  article {
      @include make-md-column(4);
  }
}
